/* App Page CSS */
.header-color {
  background: #FF512F !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #F09819, #FF512F) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #F09819, #FF512F) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-main-link {
  text-decoration: none;
  color: white;
}

.drawer-main-link {
  text-decoration: none;
}

/* Landing Page CSS */
.landing-grid {
  background: #0575E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  text-align: center;
  background-size: cover;

  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  border-radius: 10px;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text h1 {
  font-weight: bold;
  color: white;
  margin: 0 auto;
}

.banner-text p {
  color: white;
  margin: 0;
  padding: 0.5em 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links a {
  color: white;
}

@media screen and (min-width: 1025px) {
  .avatar-img {
    height: 350px;
    padding-top: 3em;
  }

  .banner-text {
    width: 60%;
    margin: 1em auto;
    padding: 2em 0;
  }

  .banner-text h1 {
    font-size: 66px;
  }

  .banner-text p {
    font-size: 20px;
  }

  .social-links a {
    font-size: 4em;
    padding: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .avatar-img {
    height: 250px;
    padding-top: 2em;
  }

  .banner-text {
    width: 75%;
    margin: 2em auto;
  }

  .banner-text h1 {
    font-size: 40px;
    padding: 6px;
  }

  .banner-text p {
    font-size: 15px;
  }

  .social-links a {
    font-size: 2em;
    padding: 12px 3px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .banner-text {
    width: 65%;
    margin: 2em auto;
  }

  .banner-text h1 {
    font-size: 50px;
    padding: 6px;
  }

  .banner-text p {
    font-size: 20px;
  }

  .social-links a {
    font-size: 3em;
    padding: 12px 3px;
  }
}

/* Projects Page CSS */
.project-body {
  max-width: 1240px;
  margin: auto;
}

@media screen and (max-width: 580px) {
  .project-body {
    margin: 2em;
  }
}

.project-card {
  margin: auto;
}

.project-card-title {
  color: white !important;
  height: 176px;
}

.project-link {
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .project-card {
    width: 250px !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 555px) {
  .project-card {
    width: 200px !important;
  }
}

@media screen and (min-width: 556px) {
  .project-card {
    width: 250px !important;
  }
}

/* Contact Page CSS */
.contact-body {
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 1em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid img {
  height: 250px;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  width: 100%;
  margin: auto;
  padding-top: 2em;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 80%;
  margin: auto;
}

.contact-list {
  width: 100%;
}

.contact-item {
  font-family: 'Anton';
}

@media screen and (max-width: 839px) {
  .contact-item {
    font-size: 20px;
  }

  .contact-item i {
    font-size: 25px;
    padding-right: 0.5rem;
  }
}

@media screen and (min-width: 840px) and (max-width: 1024px) {
  .contact-item {
    font-size: 25px;
  }

  .contact-item i {
    font-size: 30px;
    padding-right: 1rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1599px) {
  .contact-item {
    font-size: 30px;
  }

  .contact-item i {
    font-size: 45px;
    padding-right: 2rem;
  }
}

@media screen and (min-width: 1600px) {
  .contact-item {
    font-size: 45px;
  }

  .contact-item i {
    font-size: 60px;
    padding-right: 3rem;
  }
}

/* Resume Page CSS */
.resume-experience {
  background: #27221F;
  color: white;
  padding: 2em;
}

.resume-experience-title {
  margin: 0;
}

.resume-about-me {
  text-align: center;
}

.resume-about-me img {
  height: 250px;
  margin-top: 2em;
}

.resume-about-me h2 {
  margin-bottom: 0.25em;
}

.resume-about-me h4 {
  color: grey;
  margin-top: 0;
}

.resume-about-me hr {
  border-top: 3px solid #833FB2;
  width: 60%;
  margin: auto
}

.resume-about-me p {
  text-align: justify;
  margin: 15px auto;
  width: 80%;
}

@media screen and (max-width: 839px) {
  .resume-about-me {
    width: 100% !important;
  }

  .skill-progress {
    width: 80% !important;
  }

  .resume-bottom-hr {
    display: none;
  }
}

.resume-experience hr {
  border-top: 3px solid #e22947;
}

.experience-date {
  font-size: 18px;
}

.experience-job-name {
  font-size: 30px;
  margin: 0;
}

.experience-job-profession {
  font-weight: bold;
  font-size: 16px;
  margin: 6px 0;
}

.experience-job-desc {
  margin-bottom: 0;
}

.experience-job-desc div {
  padding-left: 5px;
}

.skill-progress-bar {
  margin: auto;
  width: 90% !important;
  top: 45%;
}